.list {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.list > p:first-of-type {
  width: 10%;
}
.list > p input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
}
.list > div > button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.list > div > button:nth-of-type(1) {
  background-color: lightblue;
}
.list > div > button:nth-of-type(2) {
  background-color: lightcoral;
}
.list > div > button:hover {
  opacity: 1;
}

.line {
  width: 90%;
  margin: 15px auto;
}

.active {
  background-color: lightblue;
}

.nonActive {
  background-color: lightcoral;
}