.form{
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  width: 500px;
  height: 400px;
  background-color: #f7ea5e;
  box-shadow: 0 0 30px rgba(#000, 0.7);

  h2{
    margin-bottom: 20px;
    img{
      filter: brightness(90%);
    }
  }
  p{
    width: 100%;

    input{
      width: 100%;
    }
    &.btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  button{
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.4s, scale 0.4s;
    box-shadow: 0 0 10px rgba(#000,0.4);
    background-color: rgba(#70d2b4,0.8);
    &:disabled{
      &:hover{
        scale: 1;
        background-color: rgba(#70d2b4,0.8);
        animation: shaker 0.3s 
      }
    }
    &:hover{
      scale: 1.2;
      background-color: rgba(#b6ecdc,0.9);
    }
  }
}
.errorMessage{
  display: block;
  height: 30px;
  color: red;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes shaker {
  0%{
    rotate: -3deg;
  }
  15%{
    rotate: 3deg;
  }
  30%{
    rotate: -3deg;
  }
  45%{
    rotate: 3deg;
  }
  60%{
    rotate: -3deg;
  }
  75%{
    rotate: 3deg;
  }
  90%{
    rotate: -3deg;
  }
  100%{
    rotate: 3deg;
  }
}