html,body{
  height: 100%;
  box-sizing: border-box;
} 
*{
  margin:0;
  padding: 0;
  font-family:inherit;
  font-size: inherit;;
  color:inherit;
  text-decoration: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  word-break: keep-all;
}
body{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
} 
li{
  list-style: none;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
select,textarea,input{
  box-sizing: border-box;
}
iframe,fieldset{
  border:none;
}
img{
  display: block;
}