.update{
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: #fae820;
  border: 30px solid yellow;
  >*{
    margin-right: 10px;
  }
  input[type='checkbox']{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 30px;
      height: 30px;
      background-color: lightcoral;
      &:checked{
        background-color: lightblue;
      }
  }
  button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 0.3s;
    &:hover{
      opacity: 1;
    }
    &:nth-of-type(1){
      background-color: lightblue;
    }
    &:nth-of-type(2){
      background-color: lightcoral;
    }
  }
}
.fade{ animation: 0.7s ease-in-out loadEffect1; }

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}